{% extends 'mainApp/wrapper.html' %}
{% block content %}
<head>
<title>{{ad.title}}</title>
<style >
  .center {
    margin: 20px;
  
  }
</style>

  </head>
<body >
<div class="row">
  <div class="col-4">
    <p class="text-align: center">
      <img src="{{ ad.image.url}}" alt="{{ post.title }}"  hspace="100"  />
    </p>
  </div>
  <div  class=" center col-4 " >
    Название:<h2 vspace="20"><strong>{{ad.title}}</strong> </h2>
    Автор: <h3 > <strong>{{ad.author}}</strong></h3>
    Город: <h4> <strong>{{ad.location}}</strong></h4>
    Дополнительная информация:<h4> <strong>{{ad.text}}</strong></h4><br><br>
    Опубликовано: <h5>{{ad.date}}</h5>

  </div>

</div>
</body>

{% endblock %}
